.home {
    color: var(--white);
    background-color: var(--deep_purple);
    background-image: url("../../images/MyPost.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title {
    font-size: 4em;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.home-desc {
    font-size: 1em;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.home-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 30vw;
}

.home-button {
    color: white;
    height: 40px;
    width: 102px;
    border-radius: 50px;
    border: 2px solid white;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: var(--light_purple);
    transition: all 0.5s ease;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-button:hover {
    background-color: var(--deep_purple);
}

@media only screen and (max-width: 530px) {
    .home-title {
        font-size: 2em;
    }

    .home-desc {
        font-size: 10px;
    }
}