@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 100%;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #00012b;
    color: white;
}

nav{
    background-color: #00012b;
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav.header {
    display: table;
    table-layout: fixed;
    width: 100%;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}


nav > a {
    font-size: 12px;
    padding: 1%;
    display: table-cell;
    text-align: center;
    border: none;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

nav > a:hover {
    background-color: #525370;
}

.welcome_container {
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.wideimg {
    padding-top: 3%;
    object-fit: cover;
    max-height: 100vh;
    height: auto;
    width: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about_container {
    min-height: 100vh;
    padding: 5% 8.5%;
    background-color: white;
    color: #00012b;
    overflow: hidden;
}

.about_pic {
    max-height: 80vh;
    width: auto;
    border: 20px solid #00012b;
}

.col-sm-4, .col-sm-6{
    padding: 10px;
}

p > a{
    color: #525370;
    text-decoration: underline;
}

p > a:hover {
    color: #00012b;
    text-decoration: underline;
}

button {
    margin-top: 20px;
    background-color: #525370;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
}

button:hover {
    background-color: #00012b;
}

.buttontable {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 30px;
}

.btableC {
    display: table-cell;
    text-align: center;
}

.contact_container {
    position: relative; 
    min-height: 100vh; 
    text-align: right; 
    padding-right: 10%;
    overflow: hidden;
}

.project_container {
    position: relative;
    height: auto;
    min-height: 100vh; 
    max-width: 100%; 
    padding: 5% 10%;
}

.featured-program {
    position: absolute;
    padding: 3% 3%;
    color: white;
    background-color: #00012b;
    border: 7px solid white;
    border-radius: 10px;
    text-align: left;

    display: flex;
    justify-content: center;
}

.featured-program > p > a:hover {
    color: white;
}

.thumbimg {
    max-height: 200px;
    width: auto;
}

#whitelink:hover {
    color: white;
}

.programs-table {
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -30%);
    display: table;
    margin: 28% 1%;
    border: 7px solid white;
    border-radius: 10px;
}

h3 {
    font-weight: bold;
}

.hiddenB {
    transition: all 0.3s ease;
}

.hiddenB:hover {
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
}

@media only screen and (max-width: 960px) {
    .col-sm-4, .col-sm-6, .col-sm-8{
        min-width: 100%;
    }
}
