.space {
    margin: 20px 50px;
}

.demo_component {
    height: 400px;
    width: 300px;
    transition: all .3s ease;
}

.demo_component:hover {
    height: 410px;
    width: 305px;
}

.thumbnail {
    height: 40%;
    width: 100%;
    background-color: white;
}

.thumbimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;   
}

.title {
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
}

.uses {
    font-style: italic;
    text-align: center;
    padding: 5px;
}

.desc {
    padding: 5px;
}

.demo-link {
    color: white;
}